@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #181B20;
    font-family: 'Inter', sans-serif;
}

.link{
    text-decoration: none;
    color: #B3A05D;
}

.link:hover{
    text-decoration: underline;
}

.content{
    max-width: 1400px;
    margin: 0 auto;
}

.header__rw{
    padding: 15px 0 15px;
}

.lowrow__wrapper{
    padding: 0 45px 0 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1305px;
}

.header__toprow{
    display: flex;
    align-items: center;
}

.header__calls{
    display: flex;
    max-width: 422px;
    gap: 35px;
    margin-right: 25px;
}

.call-rectangle{
    font-size: 12px;
    max-width: 16px;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 13px;
    background-color: #B3A05D;
}

.email-link{
    display: flex;
    align-items: center;
    gap: 6px;
}

.call__wrapper{
    display: flex;
    align-items: center;
    max-width: 180px;
    gap: 25px;
    font-size: 12px;
}

.header-email{
    margin-right: 20px;
}

.header__icons{
    display: flex;
    gap: 25px;
    margin-right: 26px;
}

.header__currency{
    margin-right: 27px;
}

.currency-rectangle{
    display: flex;
    align-items: center;
    gap: 3px;
    color: white;
    text-align: center;
    padding: 13px;
    background-color: #B3A05D;
    border-radius: 5px;
}

.currency-changer{
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
}

.dropdowns{
    color: #b3a05d;
    margin-right: 44px;
}

.header__lang-changer{
    display: flex;
    color: #B3A05D;
    gap: 8px;
    align-items: center;
    margin-right: 51px;
}
.changer-round{
    background-image: url(../img/icons/Flag_of_Russia.svg);
    background-position: 50%;
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.header-citizenship{
    padding: 25px 35px;
    color: #FFFFFF;
    background-color: #B3A05D;
    border-radius: 3px;
    font-size: 12px;
}

.wrapper-logo{
    max-width: 133px;
}

.nav-list{
    display: flex;
    gap: 51px;
}

.list-item{
    color: #B3A05D;
}

.buttns__wrapper{
    display: flex;
    gap: 50px;
}

.wrapper-call{
    display: flex;
    align-items: center;
    gap: 25px;
}

.screen{
    background-image: url(../img/backgrnd.png);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
    backdrop-filter: brightness(.8);
}

.heading__wrapper{
    padding-bottom: 67px;
}

.screen-heading{
    max-width: 696px;
    padding-top: 65px;
    font-size: 60px;
    font-weight: bold;
    color:#FFFFFF;
    letter-spacing: 5%;
    margin-bottom: 49px;
}

.screen-heading > span{
    color: #B3A05D;
}

.wrapper-booking{
    border: none;
    background-color: #B3A05D;
    padding: 15px 20px;
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
}

.wrapper-booking > a{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    letter-spacing: 5%;
}

.wrapper-options{
    display: flex;
    justify-content: space-between;
    max-width: 753px;
    padding: 0 23px 0 23px;

}

.options-btn{
    font-family: 'Inter', sans-serif;
    background: transparent;
    border: 1px solid white;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 14px 18px;
}

.options__wrapper{
    margin-right: 370px;
    display: flex;
    gap: 7px;
}

.options__wrapper:nth-child(1){
    margin-right: 350px;
}

#options-search{
    border-radius: 50px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #FFFFFF;
    background: transparent;
    font-family: 'Inter', sans-serif;
}

#options-search::placeholder{
    color: #FFFFFF;
}


form{
    background-color: rgba(179, 160, 93,0.5);
    padding: 25px;
    backdrop-filter: blur(4px);
    border-radius: 26px;
}

label{
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.filter__wrapper{
    display: flex;
}

.objects-options{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.object-name{
    display: flex;
    color: #FFFFFF;
    gap: 208px;
    font-size: 12px;
}

.objects__wrapper{
    display: flex;
    margin-right: 95px;
}

.options__city{
    padding: 15px 105px;
    border: 1px solid white;
    border-radius: 26px;
}

.search-btn{
    padding: 13px 25px;
    font-family: 'Inter',sans-serif;
    color: white;
    background: transparent;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.search-submit{
    padding: 13px 70px;
}

.search__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 981px;
}

.res__wrapper{
    color: #FFFFFF;
    text-align: right;
    margin-top: 10px;
}

.experience{
    margin-top: 72px;
    padding-bottom: 92px;
}

.item-rectangle{
    background-image: url(../img/icons/ромб.svg);
    width: 48px;
    display: block;
}

.experience-heading{
    font-weight: 700;
    color: #B3A05D;
    font-size: 38px;
}

.experience__cards{
    margin-top: 38px;
    display: flex;
    gap: 27px;
}

.cards__item{
    background-color: #B3A05D;
    max-width: 273px;
    padding: 34px 34px 7px;
    border-radius: 6px;
    padding-right: 171px;
}

.item-heading{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 10px;
}

.item-text{
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.stock__wrapper{
    padding: 63px 63px;
}

.stock-heading{
    color: #B3A05D;
    max-width: 230px;
    margin-top: 19px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 21px;
}

.stock-description{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    max-width: 259px;
    margin-bottom: 18px;
}

.stock-input{
    padding: 29px 79px;
    border: none;
    border: 2px solid white;
}

.stock-input::placeholder{
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.stock-input:focus{
    border: 2px solid #B3A05D;
    outline: none;
    box-shadow: inset 0px 0px 10px rgba(94, 94, 94, 0.2);
}

input[type='submit']{
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding: 26px 79px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.stock__inputs-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}

.personaldata-checkbox{
    margin-left: 51px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#personaldata{
    margin-right: 5px;
}

.personaldata-text{
    color: #FFFFFF;
}

.persdata-link{
    color: #FFFFFF;
    text-decoration: underline;
}

.reg{
    margin-top: 106px;
}

.reg__wrapper{
    margin-top: 33px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 56px;
}

.reg-heading{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
}

.reg__card{
    max-width: 358px;
}

.reg__card-img{
    max-width: 358px
}

.reg__card-wrapper{
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-city{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
}

.wrapper-value{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}

.all-regs{
    background-color: #CFB764;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 29px 35px;
    display: block;
    max-width: 273px;
    margin-top: 49px;
}

.fatum{
    text-transform: uppercase;
    color: #B3A05D;
    font-weight: 700;
    font-size: 133px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 74px;
}

.horizontal__cards{
    margin-top: 31px;
    display: flex;
    gap: 146px;
    justify-content: space-between;
}

.horizontal__card{
    background-color: #FFFFFF;
    max-width: 672px;
    padding: 11px 11px 20px;
    border: 2px solid #B3A05D; 
    border-radius: 26px;
}

.card-img{
    background-color: white;
    border: 2px solid #B3A05D;
    border-radius: 18px;
    height: 305px;
}

.wrapper__description{
    display: flex;
    gap: 48px;
    margin-top: 31px;
}

.inf__wrapper{
    max-width: 575px;
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
}

.learnmore{
    color: #000000;
    text-decoration: underline;
}

.card-text{
    margin-top: 18px;
}

.card-id{
    margin-top: 18px;
}

.bestoffers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bestoffers-heading{
    text-align: center;
    color: #B3A05D;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.bestoffers-btns__wrapper{
    max-width: 219px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
}

.bestoffers-btn{
    padding: 17px 12px;
    border-radius: 6px;
    background-color: #B3A05D;
    color: #FFFFFF;
}

.cards__col{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.horizontal-img{
    width: 650px;
}

.col-card{
    max-width: 568px;
    display: flex;
    padding: 15px 15px 20px;
}

.col-card > .horizontal-img{
    width: 217px;
    height: 228px;
    margin-right: 24px;
}

.col-card > .cards-text__wrapper{
    max-width: 289px;
}

.col-card > .cards-text__wrapper > .wrapper__description{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
    font-size: 14px;
}

.col-card > .cards-text__wrapper > .wrapper__description > .desc-text__wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.vertical__cards{
    margin-top: 106px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vertical__card:nth-child(1){
    margin-bottom: 21px;
}
.vertical__card:nth-child(2){
    margin-bottom: 21px;
}
.vertical__card:nth-child(3){
    margin-bottom: 21px;
}
.vertical__card:nth-child(4){
    margin-bottom: 21px;
}

.vertical__card{
    max-width: 295px;
    border-radius: 26px;
    padding: 10px 11px 90px;
    background-color: #FFFFFF;
    border: 2px solid #B3A05D;
}
.vertical__cards-text__wrapper > .wrapper__description{
    flex-direction: column;
    gap: 7px;
}

.vertical-img{
    width: 273px;
}

.checkflat-heading{
    max-width: 477px;
    color: #000000;
}

.checkflat-description{
    max-width: 313px;
    color: #000000;
}

.reviews{
    margin-top: 63px;
}

.reviews-heading{
    text-transform: uppercase;
    text-align: center;
    color: #B3A05D;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 27px;
}

.star{
    width: 55px;
    background-image: url(../img/icons/Star\ 2.svg);
    height: 55px;
    background-repeat: no-repeat;
}

.main-card{
    max-width: 672px;
}

.reviews-desc{
    margin-top: 7px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.reviews__stars-row{
    margin-top: 27px;
    margin: 0 auto;
    max-width: 335px;
    display: flex;
    gap: 17px;
}

.reviews__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__slider{
    max-width: 647px;
    background-color: #FFFFFF;
    padding: 36px 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}


.stars__container{
    display: flex;
    gap: 10px;
    max-width: 216px;
    margin:  0 auto;
}

.stars__container > .star{
    width: 35px;
    height: 35px;
    background-size:contain ;
}

.reviews-btn{
    background-color: #B3A05D;
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 25px 20px;
}

.btn__wrapper{
    position: relative;
    margin-top: -125px;
    display: flex;
    gap: 724px;
}

.reviews-btn:first-child{
    transform: rotate(180deg);
}

.reviews-all{
    display: block;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 3px;
    padding: 29px 20px;
    margin-top: 112px;
}

.placetolive{
    backdrop-filter: blur(8px);
    margin-top: 16px;
    background: url(../img/Frame\ 17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 28px;
}

.placetolive-description{
    margin-top: 31px;
    max-width: 357px;
    margin-bottom: 59px;
}

.placetolive-link{
    background-color: #FFFFFF;
    color: #000000;
}

.placetolive-heading{
    max-width: 493px;
    color: #FFFFFF;
}

.fatumteam{
    margin-top: 14px;
    margin-bottom: 100px;
}

.fatumteam-heading{
    text-align: center;
    font-size: 40px;
    color: #B3A05D;
    font-weight: 700;
}

.team__slider{
    display: flex;
    gap: 29px;
    justify-content: space-between;
    margin-top: 44px;
}

.team-img{
    width: 420px;
}

.team__card{
    max-width: 444px;
}

.team-name{
    margin-top: 14px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

.team-post{
    font-size: 14px;
    margin-bottom: 30px
}

.team-contacts__wrapper{
    padding-left: 7px;
    display: flex;
    max-width: 319px;
    margin-bottom: 43px;
}

.contact-link:not(:last-child){
    margin-right: 5px;
}

.contact-link:last-child{
    margin-right: 26px;
}

.team-email{
    margin-bottom: 10px;
}

.team__card-wrapper{
    padding:10px 11px 0px;
}

.slider__cntrls{
    max-width: 431px;
    margin:  0 auto;
}

.slider__cntrls > .btn__wrapper{
    position: absolute;
    margin-top: 37px;
    gap: 0;
    justify-content: space-between;
}

.rounds__wrapper{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 93px;
    margin-right: 93px;
}

.info__wrapper{
    margin-left: 7px;
}

.slider-round{
    border: 1px solid #FFFFFF;
    background-color: #B3A05D;
    border-radius: 50%;
    padding: 19px;
}