@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #181B20;
    font-family: 'Inter', sans-serif;
}

.link{
    text-decoration: none;
    color: #B3A05D;
}

.link:hover{
    text-decoration: underline;
}

.content{
    max-width: 1400px;
    margin: 0 auto;
}

.header__rw{
    padding: 15px 0 15px;
}

.lowrow__wrapper{
    padding: 0 45px 0 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1305px;
}

.header__toprow{
    display: flex;
    align-items: center;
}

.header__calls{
    display: flex;
    max-width: 422px;
    gap: 35px;
    margin-right: 25px;
}

.call-rectangle{
    font-size: 12px;
    max-width: 16px;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 13px;
    background-color: #B3A05D;
}

.email-link{
    display: flex;
    align-items: center;
    gap: 6px;
}

.call__wrapper{
    display: flex;
    align-items: center;
    max-width: 180px;
    gap: 25px;
    font-size: 12px;
}

.header-email{
    margin-right: 20px;
}

.header__icons{
    display: flex;
    gap: 25px;
    margin-right: 26px;
}

.header__currency{
    margin-right: 27px;
}

.currency-rectangle{
    display: flex;
    align-items: center;
    gap: 3px;
    color: white;
    text-align: center;
    padding: 13px;
    background-color: #B3A05D;
    border-radius: 5px;
}

.currency-changer{
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
}

.dropdowns{
    color: #b3a05d;
    margin-right: 44px;
}

.header__lang-changer{
    display: flex;
    color: #B3A05D;
    gap: 8px;
    align-items: center;
    margin-right: 51px;
}
.changer-round{
    background-image: url(../img/icons/Flag_of_Russia.svg);
    background-position: 50%;
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.header-citizenship{
    padding: 25px 35px;
    color: #FFFFFF;
    background-color: #B3A05D;
    border-radius: 3px;
    font-size: 12px;
}

.wrapper-logo{
    max-width: 133px;
}

.nav-list{
    display: flex;
    gap: 51px;
}

.list-item{
    color: #B3A05D;
}

.buttns__wrapper{
    display: flex;
    gap: 50px;
}

.wrapper-call{
    display: flex;
    align-items: center;
    gap: 25px;
}

.screen{
    background-image: url(../img/backgrnd.png);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
    backdrop-filter: brightness(.8);
}

.heading__wrapper{
    padding-bottom: 67px;
}

.screen-heading{
    max-width: 696px;
    padding-top: 65px;
    font-size: 60px;
    font-weight: bold;
    color:#FFFFFF;
    letter-spacing: 5%;
    margin-bottom: 49px;
}

.screen-heading > span{
    color: #B3A05D;
}

.wrapper-booking{
    border: none;
    background-color: #B3A05D;
    padding: 15px 20px;
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
}

.wrapper-booking > a{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    letter-spacing: 5%;
}

.wrapper-options{
    display: flex;
    justify-content: space-between;
    max-width: 753px;
    padding: 0 23px 0 23px;

}

.options-btn{
    font-family: 'Inter', sans-serif;
    background: transparent;
    border: 1px solid white;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 14px 18px;
}

.options__wrapper{
    margin-right: 370px;
    display: flex;
    gap: 7px;
}

#options-search{
    border-radius: 50px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #FFFFFF;
    background: transparent;
}

#options-search::placeholder{
    color: #FFFFFF;
}


form{
    background-color: rgba(179, 160, 93,0.5);
    padding: 25px;
    backdrop-filter: blur(4px);
    border-radius: 26px;
}

label{
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.filter__wrapper{
    display: flex;
}

.objects-options{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.object-name{
    display: flex;
    color: #FFFFFF;
    gap: 208px;
    font-size: 12px;
}

.objects__wrapper{
    display: flex;
    margin-right: 95px;
}

.options__city{
    padding: 15px 105px;
    border: 1px solid white;
    border-radius: 26px;
}

.search-btn{
    padding: 13px 25px;
    font-family: 'Inter',sans-serif;
    color: white;
    background: transparent;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.search-submit{
    padding: 13px 70px;
}

.search__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 981px;
}

.res__wrapper{
    color: #FFFFFF;
    text-align: right;
    margin-top: 10px;
}

.experience{
    margin-top: 72px;
    padding-bottom: 92px;
}

.item-rectangle{
    background-image: url(../img/icons/ромб.svg);
    width: 48px;
    display: block;
}

.experience-heading{
    font-weight: 700;
    color: #B3A05D;
    font-size: 38px;
}

.experience__cards{
    margin-top: 38px;
    display: flex;
    gap: 27px;
}

.cards__item{
    background-color: #B3A05D;
    max-width: 273px;
    padding: 34px 34px 7px;
    border-radius: 6px;
    padding-right: 171px;
}

.item-heading{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 10px;
}

.item-text{
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: capitalize;
}